center {
	margin-top: 10%;
}

body {
	background-color: rgb(230, 230, 230);
}

input[type="checkbox"] {
	width: 20px;
	heigth: 20px;
}
input
[
type
=
"checkbox"
]
:checked
,
{
width
:
 
40
px
;

	 
heigth
:
 
40
px
;


}