center {
    margin-top: 10%;
}

body {
  background-color:rgb(230,230, 230);
 }
input[type="checkbox"]{
	 width: 20px;
	 heigth: 20px;
}
input[type="checkbox"]:checked{
	 width: 40px;
	 heigth: 40px;
}
#search{
	margin-top: 5%;
	float: right;
	
}
#heading h1 {
	text-align: right;
	margin-top: 4%;
	margin-left: 35%;
	float: left;
}